<ajaxControlToolkit>
  <controlBundles>
    <controlBundle>
      <control name="CalendarExtender" />
      <control name="ComboBox" />
    </controlBundle>
    <controlBundle name="CalendarBundle">
      <control name="CalendarExtender"></control>
    </controlBundle>
    <controlBundle name="AccordionBundle">
      <control name="AccordionExtender"></control>
    </controlBundle>
    <controlBundle name="AjaxFileUploadBundle">
      <control name="AjaxFileUpload"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>
